@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  box-sizing: border-box;
}
.card {
  display: inline-block;
  margin: auto;
  height: 450px;
  font-size: 90px;
  width: 300px;
  padding: 20px;
  padding-top: 155px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.topsuit {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 80px;
}
.bottomsuit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
}

.spades {
  content: "\2660";
}
.clubs {
  content: "\2663";
}
.hearts {
  content: "\2665";
}
.diamonds {
  content: "\2666";
}
